.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: calc(100vh - 61px);
  color: white;
}

.content {
  max-width: 50%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.exploreButton {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.exploreButton:hover {
  background-color: #a80000;
}

.imageContainer {
  max-width: 40%;
}

.chickenImage {
  width: 100%;
  border-radius: 10px;
}
